.hero-balance {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  background: color(primary);
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: $u-spacing-triple $u-spacing;
}
