.section-header {
  display: flex;
  align-items: center;
  background: white;
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 150px;
}
