.transaction-item {
  display: block;
  background-color: color(white);
  padding: $u-spacing-half 0;
  border-bottom: 1px solid lighten(color(pavement), 10%);

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }

  &__text {
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: $font-size-text-lead;
    margin-right: $u-spacing-quarter;

    .transaction-item--in & {
      color: color(success);
    }

    .transaction-item--out & {
      color: color(error);
    }
  }

  &__value {
    .transaction-item--in & {
      color: color(success);
    }

    .transaction-item--out & {
      color: color(error);
    }
  }
}
